<form class="" action="/stages" method="post">
  <label for="stage">Enter a stage name!</label>
  <input type="text" name="stage">
  <button type="submit" name="button">Submit!</button>
</form>
<a href="/stages">Take me back!</a>
